@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body{
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
}
.container{
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container .card-1, .card-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position:relative;
  background-color: #252d37;
  padding:48px 30px 30px;
  width: 330px;
  border-radius: 25px;
}
.container .card-1 h1{
  color: hsl(0, 0%, 100%);
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 16px;
  letter-spacing: -0.2px;
}
.container .card-1 .text p{
  color: hsl(216, 12%, 54%);
  font-size: 14px;
  line-height: 1.5;
}

.container .card-1 .numbers{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}
.container .card-1 .numbers .number{
  background-color: #363f4b;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  font-weight: bold;
  cursor: pointer;
}
.container .card-1 .numbers .number:hover{
  color: white;
  background-color: hsl(25, 97%, 53%);
}
.container .card-1 .numbers .number.active{
  background-color: hsl(217, 12%, 63%);
  color: white;
}
.container .card-1 button{
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border:0;
  color: white;
  background-color: hsl(25, 97%, 53%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  cursor: pointer;
}
.container .card-1 button:hover{
  color: hsl(25, 97%, 53%);
  background-color: white;
}
.card-1 .image{
  position: relative;
  top:-20px;
  left:-5px;
  background-color:#363f4b;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-1 .image img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.card-2{
  text-align: center;
}
.card-2 img{
  margin: 0 auto 20px;
}
.card-2 .select-element{
  color: hsl(25, 97%, 53%);
  background-color: #363f4b;
  padding: 10px 20px 5px;
  border-radius: 30px;
  margin: 10px auto;
  font-size: 15px;
}
.card-2 h1{
  color: white;
  margin: 20px 0 10px;
}
.card-2 p{
  color:hsl(216, 12%, 54%);
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
.attribution{
  position: absolute;
  bottom:45px;
  text-align: center;
  color: white;
  left:50%;
  transform: translateX(-50%);
}
.attribution a{
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}
@media (max-width:767px) {
  .attribution{
    font-size: 10px;
    width: 100%;
    bottom: 70px;
  }
}